<%= form_for @todo_list do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "Add Todo List" %>
<% end %>

<ul>
  <% @todo_lists.each do |todo| %>
    <li><%= link_to todo.name, todo %></li>
  <% end %>
</ul>
